{
  "bot_token": "123456789:ABCDefghIJKlmnoPQRstuVWxyz1234567890",
  "allowed_user_ids": [123456789]，
  "env_python": "/path/to/venv",
  "passivbot_dir": "/passivbot/dir/path",
  "predefined_configs_dir": "/predefined/configs/path",
  "user_configs_dir": "/user/configs/path"
}
