{
  "bot_token": "123456789:ABCDefghIJKlmnoPQRstuVWxyz1234567890",
  "allowed_user_ids": [123456789]，
  "python_venv_path": "/path/to/venv",
  "passivbot_dir_path": "/passivbot/dir/path",
  "predefined_configs_path": "/predefined/configs/path",
  "user_configs_path": "/user/configs/path"
}
